{% assign head_page_html = null %}
{% capture head_page_html %}
	<head>
        <meta name="google-site-verification" content="oMGoWfhSYEhw53Beuh2Zwpll7R-wWqR2mCmimdSnevE" />
		{% if page.title %}
			<title>{{ site.name }} - {{ page.title }}</title>
		{% else %}
			<title>{{ site.name }} - {{ site.description }}</title>
		{% endif %}
		{% include head/common/common.html %}

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-5768423765640512",
            enable_page_level_ads: true
    });
    </script>
	</head>
{% endcapture %}
{{ head_page_html | strip_newlines | remove:'	' }}
