{% assign head_post_html = null %}
{% capture head_post_html %}
	<head>
		{% if page.title %}
			<title>{{ site.name }} - {{ page.title }}</title>
		{% else %}
			<title>{{ site.name }} - {{ site.description }}</title>
		{% endif %}

		{% assign keywords_tag_names = null %}
		{% capture keywords_tag_names %}{% for t in page.tags %}{{ t | replace: ' ', '_' }},{% endfor %}{% endcapture %}
        <meta name="keywords" content="{{ keywords_tag_names }}" />

		{% capture description %}{{ page.excerpt | replace: '"', '' }}{% endcapture %}
        <meta name="description" content="{{ description }}" />
		{% include head/common/common.html %}
	</head>
{% endcapture %}
{{ head_post_html | strip_newlines | remove:'	' }}
