body {
  background-image: url(../img/background-pattern.png);
}

.ghpb-well-outline {
  background-color: transparent; 
}

.ghpb-well-outline {
    background-color: #fff;
}

.ghpb-well-outline blockquote {
  border-color: #ddd;
  border-color:rgba(0,0,0,0.15)
}

.ghpb-well-navlist {
  padding: 8px 0;
}


.ghpb-well-navlist blockquote {
  border-color: #ddd;
  border-color:rgba(0,0,0,0.15)
}

.ghpb-nav-header {
  color: #999999;
}

.ghpb-post {
  padding: 1em;

  background: #fff;;
}
.ghpb-post p {
  font-size: larger;
  margin-bottom: 20px;
}
