{% assign head_common_html = null %}
{% capture head_common_html %}
	<meta name="author" content='{{ site.author | site.email }}'>
	<meta http-equiv="Content-Type" content='text/html; charset=utf-8'>
	{% if page.author and page.author_email %}
		<meta name="author" content='{{ page.author }} | {{ page.author_email }}'>
	{% elsif page.author %}
		<meta name="author" content='{{ page.author }}'>
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ site.url }}/css/bootstrap.min.css">

  <script async src="{{ site.url }}/js/load-css.js" async></script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

	{% if site.rss.enabled %}
		<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/rss.xml" />
	{% endif %}

	{% if site.favicon.enabled and site.favicon.local.enabled %}
		<link rel="icon" type="image/{{ site.favicon.local.type }}" href="{{ site.url }}{{ site.favicon.local.partial_url }}" />
	{% elsif site.favicon.enabled and site.favicon.remote.enabled %}
		<link rel="icon" type="image/{{ site.favicon.remote.type }}" href="{{ site.favicon.remote.full_url }}" />
	{% endif %}
	
{% endcapture %}
{{ head_common_html | strip_newlines | remove:'	' }}
